WEB_BASE_URL=https://www.baidu.com
API_BASE_URL=https://jsonplaceholder.typicode.com
API_TOKEN=
SEARCH_ENGINE=baidu

MOBILE_PLATFORM=android
APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723

ANDROID_DEVICE_NAME=Android Emulator
ANDROID_APP_PACKAGE=com.android.settings
ANDROID_APP_ACTIVITY=.Settings

IOS_DEVICE_NAME=iPhone 15
IOS_PLATFORM_VERSION=17.5
IOS_BUNDLE_ID=com.apple.Preferences
