WEB_BASE_URL=https://www.baidu.com
API_BASE_URL=https://jsonplaceholder.typicode.com
API_TOKEN=
SEARCH_ENGINE=baidu

# 平台配置
MOBILE_PLATFORM=android
# Appium Server 配置
APPIUM_HOST=127.0.0.1
# ⚠️Appium 服务端口，不是ADB端口
APPIUM_PORT=4723

# MuMu 模拟器 ADB 配置
ANDROID_DEVICE_NAME=MuMu Emulator
# MuMu 的 ADB 端口
ANDROID_ADB_PORT=7555
# 应用配置（根据实际要测的 App 修改）
ANDROID_APP_PACKAGE=com.android.settings
ANDROID_APP_ACTIVITY=.Settings

IOS_DEVICE_NAME=iPhone 15
IOS_PLATFORM_VERSION=17.5
IOS_BUNDLE_ID=com.apple.Preferences
